body { background: #fa83dd; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 29px; display: flex; }
.block-cache-0 { color: #234068; font-size: 19px; margin-bottom: 5px; }
.block-metrics-1 { color: #9654f9; font-size: 15px; margin-bottom: 5px; }
.block-user-2 { color: #25a02; font-size: 21px; margin-bottom: 5px; }
.block-cache-3 { color: #36839b; font-size: 21px; margin-bottom: 5px; }
.block-order-4 { color: #4ef1d; font-size: 13px; margin-bottom: 5px; }